@using EntityLayer.Concrete
@model List<SocialMedia>

<div class="col-md-6 col-xl-4 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <h4 class="card-title">Sosyal Medya</h4>
                @*<p class="text-muted mb-1 small">Tümü</p>*@
            </div>
            <div class="preview-list">
                @foreach (var item in Model)
                {
                    <div class="preview-item border-bottom">
                        <div class="preview-thumbnail" style="font-size:25px;">
                            <i class="@item.Icon"></i>
                        </div>
                        <div class="preview-item-content d-flex flex-grow">
                            <div class="flex-grow">
                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                    <h6 class="preview-subject">@item.Name</h6>
                                    <p class="text-muted text-small">@(item.Status == true ? "Aktif" : "Pasif")</p>
                                </div>
                                <p class="text-muted">@item.Url</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
