<div class="row">
    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h6 class="text-muted font-weight-normal">Eklenen Yetenek Sayısı</h6>
                    <h3 class="mb-0">@ViewBag.skill</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h6 class="text-muted font-weight-normal">Okunmamış Mesaj Sayısı</h6>
                    <h3 class="mb-0">@ViewBag.unreadMessages</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h6 class="text-muted font-weight-normal">Okunmuş Mesaj Sayısı</h6>
                    <h3 class="mb-0">@ViewBag.readMessages</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <h6 class="text-muted font-weight-normal">Eklenen Proje Sayısı</h6>
                    <h3 class="mb-0">@ViewBag.projects</h3>
                </div>
            </div>
        </div>
    </div>
</div>