@using EntityLayer.Concrete
@model List<Message>



<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mesaj Listesi</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Ad Soyad </th>
                                <th> Mesaj İçeriği </th>
                                <th> Mail Adresi </th>
                                <th> Tarih </th>
                                <th> Durum </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/faces/face1.jpg" alt="image" />
                                        <span class="pl-2">@item.Name</span>
                                    </td>
                                    <td> @item.Content </td>
                                    <td> @item.Mail </td>
                                    <td> @item.Date </td>
                                    <td>
                                        @if (item.Status == true)
                                        {


                                            <div class="badge badge-outline-success">Okundu</div>

                                        }
                                        else
                                        {
                                            <div class="badge badge-outline-danger">Okunmadı</div>

                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
