
@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
</div>

<form class="form-group mt-4" method="post">
    <br />
    @Html.Label("Yetenek Adı")
    <input type="text" name="Title" value="" class="form-control"/>

    <br />

    @Html.Label("Yetenek Oranı")
    <input type="text" name="Value" value="" class="form-control" />
    <br />
    <button type="submit" class="btn btn-info">Ekle</button>
</form>

