@{
    ViewData["Title"] = "AddMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>Yeni Mesaj Gönder</h2>

<form action="/Writer/Message/AddMessage" method="post" class="form-group">

    <label>Alıcı</label>
    <input type="text" name="Reciever" class="form-control" />
    <br />

    <label>Başlık</label>
    <input type="text" class="form-control" name="Subject" />
    <br />

    <label>Mesaj İçeriği</label>
    <textarea class="form-control" name="MessageContent" rows="10" cols="10"></textarea>
    <br />

    <button type="submit" class="btn btn-primary">Gönder</button>

</form>