@model EntityLayer.Concrete.WriterMessage

@{
    ViewData["Title"] = "WriterMessageDetail";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h3 class="mb-4">Mesaj Detayı</h3>

<div class="form-group">
    @Html.HiddenFor(x => x.WriterMessageID)
    <p class="form-control">@Model.Subject</p>
</div>


