<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/Admin/PartialNewHead.cshtml")
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
                <a class="sidebar-brand brand-logo" href="/Dashboard"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini" href="/Dashboard"><img src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            @await Html.PartialAsync("/Views/Admin/PartialNewSidebar.cshtml")
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Views/Admin/PartialNewNavbar.cshtml")
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">@ViewBag.v1</h3>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">@ViewBag.v2</a></li>
                                <li class="breadcrumb-item active" aria-current="page">@ViewBag.v3</li>
                            </ol>
                        </nav>
                    </div>

                    @RenderBody()

                </div>

                @await RenderSectionAsync("Scripts", required: false)

                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><a href="https://www.saricayirsinan.com" target="_blank">Copyright © SSA Technology</a></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    @await Html.PartialAsync("/Views/Admin/PartialNewScript.cshtml")

</body>
</html>